@model IEnumerable<KC_Decoupage.Models.Post>

@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@{
    var className = Model.Users.Count > 5 ? "popular" : null;
}*@

<h1 > Welcome admine </h1>
<form class="d" action="#">
    <input type="text" id="name1" class="fileName" name="name1" />
    <input type="text" id="name2" class="fileName" name="name2" />
    <input type="text" id="name3" class="fileName" name="name3" />
    <input type="text" id="name4" class="fileName" name="name4" />
    <input type="submit" />
</form>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function(){
            $.validator.addClassRules({
                fileName:{
                    required: true
                }
            });
            $("form.d").validate();
        });
    </script>
}