
@{
    ViewBag.Title = "SuccessView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #content {
        text-align: center;
        display: block;
        width: 100%;
        position: center ;
        /* Background image doesn't tile */
       
        /* Background image is fixed in the viewport so that it doesn't move when
	 the content's height is greater than the image's height */
        
    }

    #res {
        max-width: 100%;
        max-height: 60vh;
        height: auto;
    }

    dt, dd {
        margin: auto;
        width: 50%;
        padding: 10px;
        margin-left: 50px;
    }

    #Box {
        margin: auto;
        width: 50%;
        padding: 10px;
    }

    footer {
        text-align: center;
    }
</style>

<div id="content">
        <h1 style="color: white">Transaction Successful!</h1><br />
    <img id="res"src="/Images/check-circle-green-512.png" alt="checkmark" />
</div>
